<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="stylesheet" href="/css/home/index.css">
  <script src="/js/home/index.js" defer></script>
  <!-- <script src="/js/home/adminViews.js" defer></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
  
</head>

<body>
  <!--페이지 전체를 grid 레이아웃으로 정하겠다.
  ++처음부터 vh 단위로 시작했어야 했는데 왜 그랬을까.... 왜 px를 고집했을까-->

     
   <header>
     <a href="#none" style="font-size: 1.2rem;">좌석 배치</a>
   </header>
  <div class="icon-container">
    <span class="icon-wrap"><span class="icon"></span><span class="icon-info">사용가능</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #eb3434;"></span><span class="icon-info">종료임박</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #4ca2d4;"></span><span class="icon-info">내 좌석</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #d4a74c;"></span><span class="icon-info" >일일권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #4cc4d4;"></span><span class="icon-info" >기간권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #ed1cbc;"></span><span class="icon-info" >충전권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: 
      #1ced58;"></span><span class="icon-info" >고정권</span></span>  

    <div class="room-type">
      <span class="icon-wrap"><span class="seats-icon"></span><span class="icon-info" >자유석</span></span>  
      <span class="icon-wrap"><span class="seats-icon" style="border: 2px solid #ffaa28;"></span><span class="icon-info" >Room type</span></span>


  
    </div>

  </div>

  <!--첫번째 줄-->
  <!-- C-1 -->
       <div class="room-container room_1-1">
          <span class="left-room-name" styl="">C-1</span>
         <div class="seats-container">
         <span class="seats">
           <span class="seats-number">22</span>
         </span>
            </div>
     
          <div class="seats-container">
          <span class="seats">
            <span class="seats-number">24</span>
          </span>
             </div>
         
         <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
        </div>
       
       <div class="information-container">
        <span class="information">INFORMATION</span>
       </div>

        <!-- A-1 --> 
       <div class="room-container room_1-2" style="text-align: center;">
         <span class="right-room-name">A-1</span>
         <div class="seats-container" style="display: inline-block;">
          <span class="seats" style="width: 90px; height: 75px;">
            <span class="seats-number"style="top : -15px; left : 22px">4</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats" style="width: 90px; height: 75px;">
             <span class="seats-number"style="top : -15px; left : 22px">2</span>
           </span>
             </div>
          <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
       </div>

       
  


  <!--두번째 줄, 가운데는 flex-box로 & 세번째랑 네번째 줄은 border를 투명하게 해서 잡기-->
    
        <!-- C-2 --> 
     <div class="room-container room_2-1" style="text-align: center;">
        <span class="left-room-name">C-2</span>


        <div class="seats-row">
           <div class="seats-container" style="display: inline-block;">
            <span class="seats" style="width: 90px; height: 75px;">
              <span class="seats-number"style="top : -15px; left : 22px">27</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block;">
             <span class="seats" style="width: 90px; height: 75px;">
               <span class="seats-number"style="top : -15px; left : 22px">25</span>
             </span>
               </div>
        </div>

       <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
      </div>


   <!-- E-1 --> 
     <div class="room-container room_2-2" style="text-align: center;">
       <span class="center-room-name">E-1</span>
       
       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">51</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">50</span>
            </span>
              </div>
       </div>

        <div class="seats-row">
           <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">53</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block;">
             <span class="seats">
               <span class="seats-number">52</span>
             </span>
               </div>
        </div>


     </div>

    <!-- A-2 -->
     <div class="room-container room_2-3" style="text-align: center;">
       <span class="right-room-name">A-2</span>
       
       <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">5</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">6</span>
           </span>
             </div>
       </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">7</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">8</span>
            </span>
              </div>
       </div>
        <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
     </div>

    <!--세번째 줄-->

    <!-- C-3 -->

    <div class="room-container room_3-1">
      <span class="left-room-name">C-3</span>


     <div class="seats-container">
     <span class="seats">
       <span class="seats-number">31</span>
     </span>
        </div>


      <div class="seats-container">
      <span class="seats">
        <span class="seats-number">29</span>
      </span>
         </div>

     <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
    </div>
  

     <!--각 박스 간의 간격을 일정하게 유지시키기 위해 각을 먼저 잡고 안보이게 하는 방법을 쓰겠음-->

     <!-- C-4 -->
     <div class="room-container lockerRoom" style="text-align: center; border-width : 0; " >
       <span class="center-room-name" style="display : none">A-1</span>
       

        <!--도어락 자리 시작-->
       
        <div class="seats-row">
           <div class="seats-container" style="display: inline-block; margin-right : 0 ">
            <span class="seats">
              <span class="seats-number" style="left : -20px">55</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block; margin-left : 0"">
             <span class="seats">
               <span class="seats-number">54</span>
             </span>
               </div>
        </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block; margin-right : 0 ">
           <span class="seats">
             <span class="seats-number" style="left : -20px">57</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block; margin-left : 0"">
            <span class="seats">
              <span class="seats-number">56</span>
            </span>
              </div>
       </div>

       <div class="seats-row">
         <!--각 박스 간의 간격을 일정하게 유지시키기 위해 각을 먼저 잡고 안보이게 하는 방법을 쓰겠음-->
         <div class="seats-container" style="display: inline-block; margin-right : 0; opacity : 0;">
            <span class="seats">
              <span class="seats-number" style="left : -20px">57</span>
            </span>
               </div>
          <div class="seats-container" style="display: inline-block; margin-left : 0px">
            <span class="seats">
              <span class="seats-number">58</span>
            </span>
              </div>
       </div>

        <!--도어락 자리 끝-->
     </div>



    
    <div class="room-container room_3-2" style="text-align: center;">
       <span class="right-room-name">A-3</span>

       <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">9</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">10</span>
           </span>
             </div>
       </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">11</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">12</span>
            </span>
              </div>
       </div>
        <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
     </div>

    <!--네번째 줄-->
    
    <!-- C-4  -->
    <div class="room-container room_4-1" style="text-align: center;">
      <span class="left-room-name">C-4</span>


      <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">34</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">33</span>
           </span>
             </div>
      </div>

     <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
    </div>


  

  <div class="room-container room_4-2" style="text-align: center;">
    <span class="left-room-name">A-4</span>

    <div class="seats-row">
       <div class="seats-container" style="display: inline-block;">
        <span class="seats" style= "opacity : 0;">
          <span class="seats-number">j</span>
        </span>
           </div>
       <div class="seats-container" style="display: inline-block;">
         <span class="seats">
           <span class="seats-number">14</span>
         </span>
           </div>
     </div>

     <div class="seats-row">
        <div class="seats-container" style="display: inline-block;">
         <span class="seats" style= "opacity : 0;">
           <span class="seats-number">11</span>
         </span>
            </div>
        <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">15</span>
          </span>
            </div>
     </div>
  

   <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
  </div>

   <!--다섯번째 줄-->

    <span class="studyLounge">
      <span class="right-room-name" style="width: 240px;">STUDY LOUNDGE</span>


    <!--스카의 첫번째줄 좌측-->

    <div class="sc-row">
      
      <div class="sc-container">
       <span class="sc-seats">
       <span class="sc-seats-number">41</span>
     </span>

         <span class="sc-seats">
          <span class="sc-seats-number">40</span>
        </span>

         <span class="sc-seats">
          <span class="sc-seats-number">39</span>
        </span>

         <span class="sc-seats">
          <span class="sc-seats-number">38</span>
        </span>
        
        </div>
      
      <!--스카의 첫번째줄 우측-->

      <div class="sc-container" style="text-align: right;">
       <span class="sc-seats">
          <span class="sc-seats-number">36</span>
        </span>

          <span class="sc-seats">
             <span class="sc-seats-number">35</span>
           </span>

      </div>

      </div>


         <!--스카의 두번째줄-->
         <span class = "seats-row-2">

       <span class="sc-seats">
         <span class="sc-seats-number">42</span>
       </span>

         <span class="sc-seats">
            <span class="sc-seats-number">43</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">44</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">45</span>
          </span>

         </span>


      <div class="sc-row">
      
      <div class="sc-container">
         <!--스카의 세번째줄 좌측-->

       <span class="sc-seats">
         <span class="sc-seats-number">59</span>
       </span>

         <span class="sc-seats">
            <span class="sc-seats-number">60</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">61</span>
          </span>


         <span class="sc-seats">
            <span class="sc-seats-number">62</span>
          </span>

            <span class="sc-seats">
             <span class="sc-seats-number">63</span>
           </span>


        </div>

      
      <div class="sc-container" style="text-align: right;">
         <!--스카의 세번째줄 우측-->
         <span class="sc-seats">
          <span class="sc-seats-number">46</span>
        </span>

         <span class="sc-seats">
           <span class="sc-seats-number">47</span>
         </span>
         </div>

        </div>
    
       <!-- <i class="fa-solid fa-door-open fa-3x right-door-icon" style="positon: absolute; left: 815px;"></i> -->
       </span>

  




 

    <span class="room-container room_5-1" style="text-align: center;">
      <span class="right-room-name">A-5</span>


      <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">17</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">18</span>
           </span>
             </div>
       </div>

     <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
    </span>


     <!--여섯번째 줄-->
    <!-- <span class="terrace" >

       <span class="right-room-name" style="left : 200px; height: 36px; width: 80px; font-size: 100%;">테라스</span>

       <div class="seats-row">
          <span class="table">테이블</span>
       </div>

       <div class="seats-row">
          <span class="elevator">승강기</span>
       </div>



     </span> -->


 
    
  
  <script src="script/jquery-1.12.4.js"></script>
  <script src="script/custom.js"></script>

</body>
</html>






