<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/home/newLogin.css">
<script src="/js/home/newLogin.js" defer></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
<title>Document</title>

<body>

  <div class="container">
    <ul class="tabs">
      <li class="tab actived" data-alt = "tab1">로그인</li>
      <li class="tab" data-alt = "tab2">문열기</li>
      <li class="tab" data-alt = "tab3">로그아웃</li>
    </ul>
  </div>

  
    <div class="wrapper">


      <!-- 로그인 -->
    <div class="formContent actived-form" id="tab1">
      <h2 class="active"> 로그인 </h2>

      <form>
        <input type="text" class="fadeIn second id" name="login" placeholder="아이디">
        <input type="text" class="fadeIn third password" name="login" placeholder="비밀번호">
        <input type="button" class="fadeIn fourth login" value="로그인">
      </form>


      <div id="formFooter">
        <a class="find" href="#modal-notice">아이디/비밀번호 찾기</a>
        
         <!--*수정* href = "" 이 부분을 /certification로 바꿔주어야 합니다.-->
        <a class="register" href="/register">회원가입</a>
      </div>

    </div>


      <!-- 문열기 -->
      <div class="formContent" id="tab2">
        <h2 class="active"> 문열기 </h2>


        <form>
          <input type="text" class="fadeIn second id" name="login" placeholder="휴대폰 번호 끝 네자리">
          <input type="text" class="fadeIn password" name="login" placeholder="비밀번호 앞 두자리">
          <input type="button" class="fadeIn fourth open-door" value="문열기">
        </form>


        <div id="formFooter">
          <a class="find" href="#modal-notice">아이디/비밀번호 찾기</a>
           <!--*수정* href = "" 이 부분을 /certification로 바꿔주어야 합니다.-->
          <a class="register" href="/certification" >회원가입</a>
        </div>

      </div>



      <!-- 로그아웃 -->
      
      <div class="formContent" id="tab3">
        <h2 class="active"> 로그아웃 </h2>

        <form>
          <input type="text" class="fadeIn second id" name="login" placeholder="아이디">
          <input type="text" class="fadeIn third password" name="login" placeholder="비밀번호">
          <input type="button" class="fadeIn fourth logout" value="로그아웃">
        </form>

      
        <div id="formFooter">
          <a class="find" href="#modal-notice">아이디/비밀번호 찾기</a>
           <!--*수정* href = "" 이 부분을 /certification로 바꿔주어야 합니다.-->
          <a class="register" href="/certification">회원가입</a>
        </div>

      </div>

      
      
      </div>


  <!-- 아이디/비밀번호 찾기 -->
  <div id = "modal-notice" class="find-modal">
    <div class="modal-content">
      <a class="btn-close" href="#none"><i class="fa-solid fa-x"></i></a>
      
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="이름">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="전화번호">
        <input type="button" class="fadeIn fourth" value="인증번호 전송" style="margin-bottom: 0;">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="인증번호">
        <input type="button" class="fadeIn fourth" value="인증번호 확인" style="margin-bottom: 0;">

      </form>
      
    </div>
  </div>

  <!-- 회원가입 -->
  <div id = "register" class="regi-modal">
    <div class="modal-content">
      <a class="btn-close" href="#none"><i class="fa-solid fa-x"></i></a>

      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="이름">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="전화번호">
        <input type="button" class="fadeIn fourth" value="인증번호 발송" style="margin-bottom: 0;">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="인증번호">
        <input type="button" class="fadeIn fourth" value="인증번호 확인" style="margin-bottom: 0;">
      </form>

    </div>
  </div>


<!-- 가상 키보드 시작-->

  <!--keyboard-container 클래스명 수정-->
  <div class="keyboard-container">
    <div class="textarea" style="display: none;">
      <textarea></textarea>
    </div>
   <div class="keyboard">

     <div class="row">
      <button class="btn">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">4</button>
      <button class="btn">5</button>
      <button class="btn">6</button>
      <button class="btn">7</button>
      <button class="btn">8</button>
      <button class="btn">9</button>
      <button class="btn">0</button>
      <button class="delete"><i class="fa-solid fa-arrow-right"></i></button>
   </div>


     <div class="en-keyboard">
       <div class="row">
          <button class="btn">q</button>
          <button class="btn">w</button>
          <button class="btn">e</button>
          <button class="btn">r</button>
          <button class="btn">t</button>
          <button class="btn">y</button>
          <button class="btn">u</button>
          <button class="btn">i</button>
          <button class="btn">o</button>
          <button class="btn">p</button>
        </div>

       <div class="row">
         <button class="btn">a</button>
         <button class="btn">s</button>
         <button class="btn">d</button>
         <button class="btn">f</button>
         <button class="btn">g</button>
         <button class="btn">h</button>
         <button class="btn">j</button>
         <button class="btn">k</button>
         <button class="btn">l</button>
       </div>

       <div class="row">
         <button class="en-shift"><i class="fa-solid fa-arrow-up"></i></button>
        <button class="btn">z</button>
         <button class="btn">x</button>
         <button class="btn">c</button>
         <button class="btn">v</button>
         <button class="btn">b</button>
         <button class="btn">n</button>
         <button class="btn">m</button>
       </div>
     </div>


     <div class="ko-keyboard trans">
        <div>
          <button class="btn fortis">ㅂ</button>
            <button class="btn fortis">ㅈ</button>
            <button class="btn fortis">ㄷ</button>
            <button class="btn fortis">ㄱ</button>
            <button class="btn fortis">ㅅ</button>

          <button class="btn fortis trans">ㅃ</button>
            <button class="btn fortis trans">ㅉ</button>
            <button class="btn fortis trans">ㄸ</button>
            <button class="btn fortis trans">ㄲ</button>
            <button class="btn fortis trans">ㅆ</button>
            <button class="btn">ㅛ</button>
            <button class="btn">ㅕ</button>
            <button class="btn">ㅑ</button>
            <button class="btn">ㅐ</button>
            <button class="btn">ㅔ</button>
        </div>

        <div class="row">
          <button class="btn">ㅁ</button>
          <button class="btn">ㄴ</button>
          <button class="btn">ㅇ</button>
          <button class="btn">ㄹ</button>
          <button class="btn">ㅎ</button>
          <button class="btn">ㅗ</button>
          <button class="btn">ㅓ</button>
          <button class="btn">ㅏ</button>
          <button class="btn">ㅣ</button>
        </div>



      <div class="row">
        <button class="ko-shift"><i class="fa-solid fa-arrow-up"></i></button>
        <button class="btn">ㅋ</button>
         <button class="btn">ㅌ</button>
         <button class="btn">ㅊ</button>
         <button class="btn">ㅍ</button>
         <button class="btn">ㅠ</button>
         <button class="btn">ㅜ</button>
         <button class="btn">ㅡ</button>
      </div>



     </div>


     <div class="row">
       <button class="translate">한/영</button>
       <button class="space">Space</button>
     </div>
  </div>



  </div>
  
  
</body>
  <script>
    $(".tabs li").click(function(){
      $(this).addClass("actived")
      $(this).siblings().removeClass("actived")

      var tab = $(this).attr("data-alt")
      $(".wrapper div").removeClass("actived-form")
      $("#" + tab).addClass("actived-form")
    })

  </script>


  <script src="script.js"></script>
</html>