<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="stylesheet" href="/css/home/index.css">
  <script src="/js/home/index.js" defer></script>
  <!-- <script src="/js/home/adminViews.js" defer></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>


  <!--- Tailwind CSS CDN 연결 --->
  <script src="https://cdn.tailwindcss.com"></script>
  <!--tailwind CSS CDN-->
   <link rel="stylesheet" href="../css/style.css">
  <!--tailwind config.js-->
  <script src="tailwind.config.js"></script>
    <!--Bootstrap Icons CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
  />

  <!-- Ripple Effect from cdn -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>

   <!--JQUERY CDN -->
   <script src="https://code.jquery.com/jquery-latest.min.js"></script>

   <!--hangul CDN -->
  <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>

   <!--fontawesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />

  <!--alpine.js의 지연 로딩 문제 해결 -->
  <style>
    [x-cloak] { display: none !important; }
  </style>

</head>

<body class="">
  <!--페이지 전체를 grid 레이아웃으로 정하겠다.
  ++처음부터 vh 단위로 시작했어야 했는데 왜 그랬을까.... 왜 px를 고집했을까-->

     <div class="modal-container justify-center flex items-center h-screen fixed w-full z-50 hidden"> 
        <div class="fixed absolute inset-0 bg-gray-300 bg-opacity-75"></div>
      
     



  <div class = "suc-modal justify-center flex items-center h-screen fixed w-full z-50 sm:top-1/4 hidden">
     <div class="fixed inset-0 bg-gray-300 bg-opacity-75 z-20">

     </div>

     <!-- 모달 -->

       <div class="sm:w-1/4 sm:h-screen flex items-end justify-center pt-4  px-4 pb-24 text-center sm:block sm:p-0 z-50">
         <!-- 모달 패널 -->
         <div class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
           <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
             <!-- 모달 컨텐츠 -->
             <div class="sm:flex sm:items-start">
               <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10">

                 <i class="text-green-400 fa-2x fa-regular fa-circle-check"></i>
               </div>
               <div class="mt-3 text-center sm:mt-0 sm:ml-6 sm:text-left">
                 <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline"> 메세지 </h3>
                 <div class="mt-2">
                   <p class="suc-modal-text text-sm text-gray-500"> 인증번호가 일치하지 않습니다.</p>
                 </div>
               </div>
             </div>
           </div>

         </div>
       </div>

   </div>

        <!-- Modal Start-->
       <div class="flex items-center justify-center w-1/2 z-50">
           <div class="bg-white rounded-lg p-6 w-full shadow-lg transform transition-all duration-300 ">
               <!-- Modal Header -->
               <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                   <!--index.html에서 res.success면 페이지 이동 시키고, 서버측에 내가 어떤 좌석을 클릭했는지 전달한다. 그후
                   해당 페이지 로드시 fetch로 a번 좌석에서 a를 가져오기 -->
                   <h2 class="text-xl font-semibold"><span class="clicked-seat-number"></span>번 좌석 설정</h2>

               </div>
               <div class="mt-6 space-y-4">

                 <div class="w-full my-5">
                       <div class="relative w-full">
                       <button class="dropdown-button w-full p-2 px-4 mb-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                          좌석 타입 설정
                           <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-5 ml-2 -mr-1 absolute top-2 right-3" viewBox="0 0 20 20" fill="currentColor">
                               <path fill-rule="evenodd" d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                           </svg>
                       </button>

                           <!--좌석 종류 선택 -->
                           <div class="dropdown-menu absolute right-0 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden z-20">
                                 <div class="py-2 p-2">
                                     <a href="#" class="block px-4 py-2 mb-1 text-sm text-gray-700 rounded-md bg-white hover:bg-gray-100 dropdown-content goods" role="menuitem">고정석</a>
                                     <a href="#" class="block px-4 py-2 mb-1 text-sm text-gray-700 rounded-md bg-white hover:bg-gray-100 dropdown-content goods" role="menuitem">자유석</a>
                                     <a href="#" class="block px-4 py-2 mb-1 text-sm text-gray-700 rounded-md bg-white hover:bg-gray-100 dropdown-content goods" role="menuitem">기간제</a>
                 </div>
                             </div>

                         <!--남자/여자 선택 부분 시작-->
                         <div x-data="{ openTab: 1 }">
                           <div class="mx-auto ">

                               <div class="mb-4 flex space-x-4 p-2 bg-white rounded-lg shadow-md">
                                   <button x-on:click="openTab = 1" :class="{ 'bg-black text-white': openTab === 1 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 bg-gray-100 text-sm goods">남자 전용</button>
                                   <button x-on:click="openTab = 2" :class="{ 'bg-black text-white': openTab === 2 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 bg-gray-100 text-sm goods">여자 전용</button>
                                  <button x-on:click="openTab = 3" :class="{ 'bg-black text-white': openTab === 3 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 bg-gray-100 text-sm goods">남여 공용</button>
                               </div>


                                <!--적용/취소 버튼 시작, 적용 버튼 누르면 서버로 변경 사항이 전달되어야 한다. 취소 버튼을 누르면 배치도로 돌아가야 한다.-->
                             <div class="bg-gray-50 py-3 flex justify-end">
                               <button  id = "apply" class="adjust-button w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"> 적용 </button>
                               <button class="cancel-button mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"> 취소 </button>                       
                               <!--적용/취소 버튼 종료 -->

                             </div>
                         </div>
                           </div>
                          <!--남자/여자 선택 부분 종료-->

                           </div>

                   </div>


               </div>
           </div>
       </div>

       </div>
        <!-- Modal End -->

  
   <header>
     <a href="#none" style="font-size: 1.2rem;">좌석 배치</a>
   </header>
  <div class="icon-container">
    <span class="icon-wrap"><span class="icon"></span><span class="icon-info">사용가능</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #eb3434;"></span><span class="icon-info">종료임박</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #4ca2d4;"></span><span class="icon-info">내 좌석</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #d4a74c;"></span><span class="icon-info" >일일권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #4cc4d4;"></span><span class="icon-info" >기간권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: #ed1cbc;"></span><span class="icon-info" >충전권</span></span>
    <span class="icon-wrap"><span class="icon" style="background-color: 
      #1ced58;"></span><span class="icon-info" >고정권</span></span>  

    <div class="room-type">
      <span class="icon-wrap"><span class="seats-icon"></span><span class="icon-info" >자유석</span></span>  
      <span class="icon-wrap"><span class="seats-icon" style="border: 2px solid #ffaa28;"></span><span class="icon-info" >Room type</span></span>


  
    </div>

  </div>



 
  <!--첫번째 줄-->
  <!-- C-1 -->
       <div class="room-container room_1-1">
          <span class="left-room-name" styl="">C-1</span>
         <div class="seats-container">
         <span class="seats">
           <span class="seats-number">22</span>
         </span>
            </div>
     
          <div class="seats-container">
          <span class="seats">
            <span class="seats-number">24</span>
          </span>
             </div>
         
         <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
        </div>
       
       <div class="information-container">
        <span class="information">INFORMATION</span>
       </div>

        <!-- A-1 --> 
       <div class="room-container room_1-2" style="text-align: center;">
         <span class="right-room-name">A-1</span>
         <div class="seats-container" style="display: inline-block;">
          <span class="seats" style="width: 90px; height: 75px;">
            <span class="seats-number"style="top : -15px; left : 22px">4</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats" style="width: 90px; height: 75px;">
             <span class="seats-number"style="top : -15px; left : 22px">2</span>
           </span>
             </div>
          <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
       </div>

       
  


  <!--두번째 줄, 가운데는 flex-box로 & 세번째랑 네번째 줄은 border를 투명하게 해서 잡기-->
    
        <!-- C-2 --> 
     <div class="room-container room_2-1" style="text-align: center;">
        <span class="left-room-name">C-2</span>


        <div class="seats-row">
           <div class="seats-container" style="display: inline-block;">
            <span class="seats" style="width: 90px; height: 75px;">
              <span class="seats-number"style="top : -15px; left : 22px">27</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block;">
             <span class="seats" style="width: 90px; height: 75px;">
               <span class="seats-number"style="top : -15px; left : 22px">25</span>
             </span>
               </div>
        </div>

       <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
      </div>


   <!-- E-1 --> 
     <div class="room-container room_2-2" style="text-align: center;">
       <span class="center-room-name">E-1</span>
       
       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">51</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">50</span>
            </span>
              </div>
       </div>

        <div class="seats-row">
           <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">53</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block;">
             <span class="seats">
               <span class="seats-number">52</span>
             </span>
               </div>
        </div>


     </div>

    <!-- A-2 -->
     <div class="room-container room_2-3" style="text-align: center;">
       <span class="right-room-name">A-2</span>
       
       <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">5</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">6</span>
           </span>
             </div>
       </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">7</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">8</span>
            </span>
              </div>
       </div>
        <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
     </div>

    <!--세번째 줄-->

    <!-- C-3 -->

    <div class="room-container room_3-1">
      <span class="left-room-name">C-3</span>


     <div class="seats-container">
     <span class="seats">
       <span class="seats-number">31</span>
     </span>
        </div>


      <div class="seats-container">
      <span class="seats">
        <span class="seats-number">29</span>
      </span>
         </div>

     <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
    </div>
  

     <!--각 박스 간의 간격을 일정하게 유지시키기 위해 각을 먼저 잡고 안보이게 하는 방법을 쓰겠음-->

     <!-- C-4 -->
     <div class="room-container lockerRoom" style="text-align: center; border-width : 0; " >
       <span class="center-room-name" style="display : none">A-1</span>
       

        <!--도어락 자리 시작-->
       
        <div class="seats-row">
           <div class="seats-container" style="display: inline-block; margin-right : 0 ">
            <span class="seats">
              <span class="seats-number" style="left : -20px">55</span>
            </span>
               </div>
           <div class="seats-container" style="display: inline-block; margin-left : 0"">
             <span class="seats">
               <span class="seats-number">54</span>
             </span>
               </div>
        </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block; margin-right : 0 ">
           <span class="seats">
             <span class="seats-number" style="left : -20px">57</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block; margin-left : 0"">
            <span class="seats">
              <span class="seats-number">56</span>
            </span>
              </div>
       </div>

       <div class="seats-row">
         <!--각 박스 간의 간격을 일정하게 유지시키기 위해 각을 먼저 잡고 안보이게 하는 방법을 쓰겠음-->
         <div class="seats-container" style="display: inline-block; margin-right : 0; opacity : 0;">
            <span class="seats">
              <span class="seats-number" style="left : -20px">57</span>
            </span>
               </div>
          <div class="seats-container" style="display: inline-block; margin-left : 0px">
            <span class="seats">
              <span class="seats-number">58</span>
            </span>
              </div>
       </div>

        <!--도어락 자리 끝-->
     </div>



    
    <div class="room-container room_3-2" style="text-align: center;">
       <span class="right-room-name">A-3</span>

       <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">9</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">10</span>
           </span>
             </div>
       </div>

       <div class="seats-row">
          <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">11</span>
           </span>
              </div>
          <div class="seats-container" style="display: inline-block;">
            <span class="seats">
              <span class="seats-number">12</span>
            </span>
              </div>
       </div>
        <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
     </div>

    <!--네번째 줄-->
    
    <!-- C-4  -->
    <div class="room-container room_4-1" style="text-align: center;">
      <span class="left-room-name">C-4</span>


      <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">34</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">33</span>
           </span>
             </div>
      </div>

     <i class="fa-solid fa-door-open fa-3x right-door-icon"></i>
    </div>


  

  <div class="room-container room_4-2" style="text-align: center;">
    <span class="left-room-name">A-4</span>

    <div class="seats-row">
       <div class="seats-container" style="display: inline-block;">
        <span class="seats" style= "opacity : 0;">
          <span class="seats-number">j</span>
        </span>
           </div>
       <div class="seats-container" style="display: inline-block;">
         <span class="seats">
           <span class="seats-number">14</span>
         </span>
           </div>
     </div>

     <div class="seats-row">
        <div class="seats-container" style="display: inline-block;">
         <span class="seats" style= "opacity : 0;">
           <span class="seats-number">11</span>
         </span>
            </div>
        <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">15</span>
          </span>
            </div>
     </div>
  

   <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
  </div>

   <!--다섯번째 줄-->

    <span class="studyLounge">
      <span class="right-room-name" style="width: 240px;">STUDY LOUNDGE</span>


    <!--스카의 첫번째줄 좌측-->

    <div class="sc-row">
      
      <div class="sc-container">
       <span class="sc-seats">
       <span class="sc-seats-number">41</span>
     </span>

         <span class="sc-seats">
          <span class="sc-seats-number">40</span>
        </span>

         <span class="sc-seats">
          <span class="sc-seats-number">39</span>
        </span>

         <span class="sc-seats">
          <span class="sc-seats-number">38</span>
        </span>
        
        </div>
      
      <!--스카의 첫번째줄 우측-->

      <div class="sc-container" style="text-align: right;">
       <span class="sc-seats">
          <span class="sc-seats-number">36</span>
        </span>

          <span class="sc-seats">
             <span class="sc-seats-number">35</span>
           </span>

      </div>

      </div>


         <!--스카의 두번째줄-->
         <span class = "seats-row-2">

       <span class="sc-seats">
         <span class="sc-seats-number">42</span>
       </span>

         <span class="sc-seats">
            <span class="sc-seats-number">43</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">44</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">45</span>
          </span>

         </span>


      <div class="sc-row">
      
      <div class="sc-container">
         <!--스카의 세번째줄 좌측-->

       <span class="sc-seats">
         <span class="sc-seats-number">59</span>
       </span>

         <span class="sc-seats">
            <span class="sc-seats-number">60</span>
          </span>

         <span class="sc-seats">
            <span class="sc-seats-number">61</span>
          </span>


         <span class="sc-seats">
            <span class="sc-seats-number">62</span>
          </span>

            <span class="sc-seats">
             <span class="sc-seats-number">63</span>
           </span>


        </div>

      
      <div class="sc-container" style="text-align: right;">
         <!--스카의 세번째줄 우측-->
         <span class="sc-seats">
          <span class="sc-seats-number">46</span>
        </span>

         <span class="sc-seats">
           <span class="sc-seats-number">47</span>
         </span>
         </div>

        </div>
    
       <!-- <i class="fa-solid fa-door-open fa-3x right-door-icon" style="positon: absolute; left: 815px;"></i> -->
       </span>

  




 

    <span class="room-container room_5-1" style="text-align: center;">
      <span class="right-room-name">A-5</span>


      <div class="seats-row">
         <div class="seats-container" style="display: inline-block;">
          <span class="seats">
            <span class="seats-number">17</span>
          </span>
             </div>
         <div class="seats-container" style="display: inline-block;">
           <span class="seats">
             <span class="seats-number">18</span>
           </span>
             </div>
       </div>

     <i class="fa-solid fa-door-open fa-3x left-door-icon"></i>
    </span>


     <!--여섯번째 줄-->
    <!-- <span class="terrace" >

       <span class="right-room-name" style="left : 200px; height: 36px; width: 80px; font-size: 100%;">테라스</span>

       <div class="seats-row">
          <span class="table">테이블</span>
       </div>

       <div class="seats-row">
          <span class="elevator">승강기</span>
       </div>



     </span> -->


 
    
  
  <script src="script/jquery-1.12.4.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</body>
</html>






