<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--- Tailwind CSS CDN 연결 --->
  <script src="https://cdn.tailwindcss.com"></script>
  <!--tailwind CSS CDN-->
  <link rel="stylesheet" href="css/home/login.css">

    <!--Bootstrap Icons CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
  />

  <!-- Ripple Effect from cdn -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>

    <!--Remix icon cdn -->
  <link href="
  https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css
  " rel="stylesheet">


   <!--JQUERY CDN -->
   <script src="https://code.jquery.com/jquery-latest.min.js"></script>

   <!--hangul CDN -->
  <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>

   <!--fontawesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
      <style>
        [x-cloak] { display: none !important;}
      </style>

    <style type="text/tailwindcss">
      @layer utilities {
       .keyboard-layout{
        @apply [&>div]:flex [&>div]:items-center [&>div]:justify-center 
        [&>div]:gap-2 [&>div]:my-2;
       }

        .keyboard-btn {
        @apply [&>button]:bg-gray-900 [&>button]:border [&>button]:w-14 [&>button]:p-2 [&>button]:text-white [&>button]:rounded-md [&>button]:text-center [&>button]:text-2xl;
        }

        .flex-layout {
        @apply flex flex-col justify-center
        }

            }
      
    </style>
  
<body class="h-screen">

  

    <!-- 입실 기능  -->
      <div class="fixed z-10 flex items-center justify-center w-full checkin-modal hidden">
          <div class=" bg-white rounded-lg p-6 shadow-lg transform transition-all duration-300">
              <!--입실 헤더 -->
              <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                  <h2  id="UserName" class="text-xl font-semibold">이용권 선택</h2>
                  <button class="text-gray-500 hover:text-gray-700 checkin-exit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x get-out">
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                  </button>
              </div>

              <!--입실 Content -->
              <div  class="mt-6 space-y-4 ">
                <span >
                      <div id="useSet" class="[&>div]:flex [&>div]:gap-3 [&>div]:bg-white [&>div]:flex gap-3 [&>div]:py-5 [&>div]:my-2 [&>div]:border [&>div]:border-slate-200 [&>div]:rounded-lg [&>div]:px-5 [&>div]:shadow-md [&>div:hover]:scale-105 [&>div]:transition-all [&>div]:duration-200 [&>div>div>b]:block [&>div>div>span]:text-gray-400" >

</div>

                         <span class="block text-xs font-semibold leading-[48px] text-blue-800 bg-blue-100 text-center rounded-lg">
                               <a href="/productList"> 이용권 구매  </a>  </span>
                              </span>
              </div>



          </div>
      </div>



      <!-- 퇴실 기능  -->
      <div class="fixed z-10 flex items-center justify-center checkout-modal hidden">
          <div class=" bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform transition-all duration-300">
              <!--퇴실 헤더 -->
              <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                  <h2 class="text-xl font-semibold">퇴실</h2>
                  <button class="text-gray-500 hover:text-gray-700 checkout-exit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x get-out">
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                  </button>
              </div>

              <!--퇴실 콘텐츠 -->
              <div class="mt-6 space-y-4">
                <span>
                      <div class="[&>div]:flex [&>div]:gap-3 [&>div]:bg-white [&>div]:flex gap-3 [&>div]:py-5 [&>div]:my-2 [&>div]:border [&>div]:border-slate-200 [&>div]:rounded-lg [&>div]:px-5 [&>div]:shadow-md [&>div:hover]:scale-105 [&>div]:transition-all [&>div]:duration-200 [&>div>div>b]:block [&>div>div>span]:text-gray-400" >
                            <div>
                              <span class="px-2 text-xs font-semibold leading-[48px] text-green-800 bg-green-100 rounded-full">고정석</span>
                              <div><b>2번 좌석</b><span>8시간 35분 남음</span>
                            </div>
                              <span class="px-4 text-xs font-semibold leading-[48px] text-green-800 bg-cyan-200 rounded-md ml-5">퇴실</span>
                          </div>

                        <div>
                            <span class="px-2 text-xs font-semibold leading-[48px] text-green-800 bg-red-100 rounded-full">자유석</span>
                            <div><b>2번 좌석</b><span>8시간 35분 남음</span>
                          </div>
                            <span class="px-4 text-xs font-semibold leading-[48px] text-green-800 bg-cyan-200 rounded-md ml-5">퇴실</span>
                        </div>

                        <div>
                            <span class="px-2 text-xs font-semibold leading-[48px] text-green-800 bg-amber-100 rounded-full">고정석</span>
                            <div><b>2번 좌석</b><span>8시간 35분 남음</span>
                          </div>
                            <span class="px-4 text-xs font-semibold leading-[48px] text-green-800 bg-cyan-200 rounded-md ml-5">퇴실</span>
                        </div>

                   </div>
                </span>
              </div>



          </div>
      </div>



    
    
    
  <div x-data="{ openTab: 1 }" class="p-4 flex justify-center items-center h-auto md:h-h-auto login-section">
    <div class="w-full md:w-1/2 mx-auto ">
       
        <div class="mb-4 flex space-x-4 p-2 bg-white rounded-lg shadow-md flex-1">
            <button x-on:click="openTab = 1" :class="{ 'bg-black text-white': openTab === 1 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 tab" data-alt = "tab1">로그인</button>
            <button x-on:click="openTab = 2" :class="{ 'bg-black text-white': openTab === 2 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 tab" data-alt = "tab2">문열기</button>
          <button x-on:click="openTab = 3" :class="{ 'bg-black text-white': openTab === 3 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue transition-all duration-300 tab" data-alt = "tab3">로그아웃</button>
        </div>
  
  <div x-cloak x-show="openTab === 1" class="transition-all duration-300 bg-white rounded-lg border-black flex-1">


    <!-- 컨테이너 -->
    <div id="tab1" class="flex flex-col shadow-xl md:bg-gray-100 w-full ">
        <!-- 카드 컨테이너 -->
        <div class="grid place-items-center mx-2 my-6 ">
  


            <!-- 카드 -->
            <div class=" 
                w-full px-6 py-10 sm:px-10 sm:py-6 bg-white rounded-lg">

                <!-- 카드 타이틀 -->
                   <h3 class="font-bold text-3xl">BEAN<span class="text-[#6ab04c] text-3xl">STALK</span></h3>
                
                <h2 class="mt-3 text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                    로그인
                </h2>

                <div class="mt-10">
                    <!-- 전화번호 인풋 -->
                    <label for="email" class="block text-xs font-semibold text-gray-600 uppercase">전화번호</label>
                    <img src="">
                    <input id="PHONE" type="email" name="email" placeholder="전화번호를 입력해주세요" autocomplete=""
                        class="block w-full py-3 px-8 mt-2 
                        text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-phone id info"
                        />

                    <!-- 비밀번호 인풋 -->
                    <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">비밀번호</label>
                    <input id="PSWORD" type="password" name="password" placeholder="비밀번호를 입력해주세요" autocomplete="current-password"
                        class="block w-full py-3 px-8 mt-2 
                        text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-lock password info"
                       />

                    <!-- 로그인 버튼 -->
                    <button
                        id = "BUTTON" class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                        font-medium text-white uppercase
                        focus:outline-none hover:shadow-none ring ring-gray-400 focus:ring-gray-500">
                        로그인
                    </button>

                    <!-- 기타 경로 -->
                    <div class="flex justify-between mt-8 sm:mb-4 text-sm text-center">
                        <a href="#find-modal" class="flex-2 underline find-anchor">
                            아이디/비밀번호 찾기
                        </a>

                        <a href="/certification" class="flex-2 underline">
                           회원가입
                        </a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
  </div>




            <!--상품 구매 탭 종료 및 문열기 탭 시작-->
        <div x-cloak x-show="openTab === 2" class="transition-all duration-300 bg-white rounded-lg shadow-md">
            <!-- 컨테이너 -->
            <div id="tab2" class="flex flex-col shadow-xl md:bg-gray-100 w-full">
                <!-- 카드 컨테이너 -->
                <div class="grid place-items-center mx-2 my-6 ">



                    <!-- 인증 카드 -->
                    <div class=" 
                        w-full px-6 py-10 sm:px-10 sm:py-6 bg-white rounded-lg">

                        <!-- 카드 타이틀 -->
                          <h3 class="font-bold text-3xl">BEAN<span class="text-[#6ab04c] text-3xl">STALK</span></h3>
                        <h2 class="mt-3 text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                            문열기
                        </h2>

                        <div class="mt-10">
                            <!-- 전화번호 인풋 -->
                            <label for="email" class="block text-xs font-semibold text-gray-600 uppercase">휴대폰 번호 끝 네자리</label>
                            <img src="">
                            <input id="enterId"type="email" name="email" placeholder="휴대폰 번호 끝 네자리" 
                                class="block w-full py-3 px-8 mt-2 
                                text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-phone id info"
                                required />

                            <!-- 비밀번호 인풋 -->
                            <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">비밀번호 앞뒤자리</label>
                            <input id="enterPassword" type="password" name="password" placeholder="비밀번호를 입력해주세요" autocomplete="current-password"
                                class="block w-full py-3 px-8 mt-2 
                                text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-lock password info"
                                required />

                            <!-- 문열기 버튼 -->
                            <button
                               id="enterNext" class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                                font-medium text-white uppercase
                                focus:outline-none hover:shadow-none ring ring-gray-400 focus:ring-gray-500">
                                문열기
                            </button>

                            <!-- 기타 경로 -->
                            <div class="flex justify-between mt-8 sm:mb-4 text-sm text-center">
                                <a href="#find-modal" class="flex-2 underline find-anchor">
                                    아이디/비밀번호 찾기
                                </a>

                                <a href="/certification" class="flex-2 underline">
                                   회원가입
                                </a>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

          <!--문열기 탭 종료 및 퇴실 탭 시작-->

        <div x-cloak x-show="openTab === 3" class="transition-all duration-300 bg-white rounded-lg shadow-md">
            <!-- 컨테이너 -->
            <div id="tab3" class="flex flex-col shadow-xl md:bg-gray-100 w-full">
                <!-- 카드 컨테이너-->
                <div class="grid place-items-center mx-2 my-6 ">



                    <!-- 카드 -->
                    <div class=" 
                        w-full px-6 py-10 sm:px-10 sm:py-6 bg-white rounded-lg">

                        <!-- 카드 타이틀 -->
                          <h3 class=" font-bold text-3xl">BEAN<span class="text-[#6ab04c] text-3xl">STALK</span></h3>
                        <h2 class="mt-3 text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                            로그아웃
                        </h2>
                        
                        <div class="mt-10">
                            <!-- 이메일 인풋 -->
                            <label for="email"  class="block text-xs font-semibold text-gray-600 uppercase">전화번호</label>
                            <img src="">
                            <input  id="logoutPhone"   type="email" name="email" placeholder="전화번호를 입력하세요" autocomplete=""
                                class="block w-full py-3 px-8 mt-2 
                                text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-phone id info"
                                required />

                            <!-- 비밀번호 인풋 -->
                            <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">비밀번호</label>
                            <input  id ="logoutPassword" type="password" name="password" placeholder="비밀번호를 입력해주세요" autocomplete="current-password"
                                class="block w-full py-3 px-8 mt-2 
                                text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-black/30 bg-lock password info"
                                required />

                            <!-- 로그아웃 버튼 -->
                            <button
                                class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                                font-medium text-white uppercase
                                focus:outline-none hover:shadow-none ring ring-gray-400 focus:ring-gray-500" id="logoutButton">
                                로그아웃
                            </button>

                            <!-- 기타 경로-->
                            <div class="flex justify-between mt-8 sm:mb-4 text-sm text-center">
                                <a href="#find-modal" class="flex-2 underline find-anchor">
                                    아이디/비밀번호 찾기
                                </a>

                                <a href="/certification" class="flex-2 underline">
                                   회원가입
                                </a>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

           <!--퇴실 탭 종료-->
        
   
  </div>
  </div>


    <!-- 아이디/비밀번호 찾기 -->
    <!-- 모달 -->
    <div class=" z-100 flex items-center justify-center transition-all duration-300 find-modal hidden">
        <div class=" bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform">
            <!-- 모달 헤더 -->
            <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                <h2 class="text-xl font-semibold">아이디/비밀번호 찾기</h2>
                <button class="text-gray-500 hover:text-gray-700 find-exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

          <!-- 모달 콘텐츠 & info라는 클래스를 document.queryselectorAll로 불러와서 인덱스를 정의하는 것임-->
            <div class="mt-6 space-y-4">
              <span>
                <input type="text"  id="searchName" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="이름">
                <input type="text"  id="searchPhone" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="전화번호">
                 <button id = "searchSend" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300 block my-2 w-full">인증번호 전송</button>
                <input type="text" id="certification" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="인증번호">
                <button id="confirm" class="bg-gray-900 text-gray-100 px-4 py-2 rounded-lg hover:bg-black transition duration-300 block my-2 w-full">
                  인증번호 확인
                  </button>


                  
              </span>
            </div>
        </div>
    </div>





    <!-- 아이디/비밀번호 변경 -->
    <!-- 모달 -->
    <div class=" z-100 flex items-center justify-center transition-all duration-300 change-modal hidden">
        <div class=" bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform">
            <!-- 모달 헤더 -->
            <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                <h2 class="text-xl font-semibold">아이디/비밀번호 변경</h2>
                <button class="text-gray-500 hover:text-gray-700 change-exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

          <!-- 모달 콘텐츠 & info라는 클래스를 document.queryselectorAll로 불러와서 인덱스를 정의하는 것임-->
            <div class="mt-6 space-y-4">
              <span>
               
                <input type="text"  id="changPhone" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="전화번호">
                <input type="text" id="changPsword" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="비밀번호">
                <input type="text" id="changConfirm-psword" class="outline-none w-full text-center p-1 py-2 bg-gray-100 focus:bg-white rounded-lg my-2 info" placeholder="비밀번호 확인">
                <button id="changButton" class="bg-gray-900 text-gray-100 px-4 py-2 rounded-lg hover:bg-black transition duration-300 block my-2 w-full">
                  변경하기
                  </button>
              </span>
            </div>
        </div>
    </div>

    
     <!-- 가상 키보드 시작-->

      <!--keyboard-container 클래스명 수정. *240706에 z-index 제거함-->
      <div class="justify-center items-center hidden md:flex px-3 rounded-lg py-2 mt-10 ">
        <div class="hidden">
          <textarea></textarea>
        </div>
       <div class="bg-black/90 p-3 rounded-lg flex items-center justify-center flex-col [&>div]:m-1 [&>div>button]:bg-gray-900 [&>div>button]:border [&>div>button]:text-white [&>div>button]:rounded-md [&>div>button]:text-center">

         <!--요 바로 위에 있는 거는 맨 윗줄과 아랫줄만 통제함..-->

         <div class="flex items-center justify-center gap-2 [&>button]:w-14 [&>button]:p-2 [&>button]:text-2xl">
          <button class="btn">1</button>
          <button class="btn">2</button>
          <button class="btn">3</button>
          <button class="btn">4</button>
          <button class="btn">5</button>
          <button class="btn">6</button>
          <button class="btn">7</button>
          <button class="btn">8</button>
          <button class="btn">9</button>
          <button class="btn">0</button>
      
       </div>


          <div class="en-keyboard keyboard-layout">
             <div class="keyboard-btn">
              <button class="btn en-btn">q</button>
              <button class="btn en-btn">w</button>
              <button class="btn en-btn">e</button>
              <button class="btn en-btn">r</button>
              <button class="btn en-btn">t</button>
              <button class="btn en-btn">y</button>
              <button class="btn en-btn">u</button>
              <button class="btn en-btn">i</button>
              <button class="btn en-btn">o</button>
              <button class="btn en-btn">p</button>
            </div>

            <div class="keyboard-btn">
             <button class="btn en-btn">a</button>
             <button class="btn en-btn">s</button>
             <button class="btn en-btn">d</button>
             <button class="btn en-btn">f</button>
             <button class="btn en-btn">g</button>
             <button class="btn en-btn">h</button>
             <button class="btn en-btn">j</button>
             <button class="btn en-btn">k</button>
             <button class="btn en-btn">l</button>
           </div>

            <div class="keyboard-btn">
             <button class="en-shift !w-20"><i class="fa-solid fa-arrow-up"></i></button>
            <button class="btn en-btn">z</button>
             <button class="btn en-btn">x</button>
             <button class="btn en-btn">c</button>
             <button class="btn en-btn">v</button>
             <button class="btn en-btn">b</button>
             <button class="btn en-btn">n</button>
             <button class="btn en-btn">m</button>
                <button class="delete p-1"><i class="fa-solid fa-arrow-right rotate-180"></i></button>
           </div>
         </div>



          <div class="ko-keyboard keyboard-layout hidden ">
            <div class="keyboard-btn">
              <button class="btn fortis">ㅂ</button>
                <button class="btn fortis">ㅈ</button>
                <button class="btn fortis">ㄷ</button>
                <button class="btn fortis">ㄱ</button>
                <button class="btn fortis">ㅅ</button>

              <button class="btn fortis hidden">ㅃ</button>
                <button class="btn fortis hidden">ㅉ</button>
                <button class="btn fortis hidden">ㄸ</button>
                <button class="btn fortis hidden">ㄲ</button>
                <button class="btn fortis hidden">ㅆ</button>
                <button class="btn">ㅛ</button>
                <button class="btn">ㅕ</button>
                <button class="btn">ㅑ</button>
                <button class="btn">ㅐ</button>
                <button class="btn">ㅔ</button>
            </div>

             <div class="keyboard-btn">
              <button class="btn">ㅁ</button>
              <button class="btn">ㄴ</button>
              <button class="btn">ㅇ</button>
              <button class="btn">ㄹ</button>
              <button class="btn">ㅎ</button>
              <button class="btn">ㅗ</button>
              <button class="btn">ㅓ</button>
              <button class="btn">ㅏ</button>
              <button class="btn">ㅣ</button>
            </div>



             <div class="keyboard-btn">
                    <button class="ko-shift !w-20"><i class="fa-solid fa-arrow-up"></i></button>
            <button class="btn">ㅋ</button>
             <button class="btn">ㅌ</button>
             <button class="btn">ㅊ</button>
             <button class="btn">ㅍ</button>
             <button class="btn">ㅠ</button>
             <button class="btn">ㅜ</button>
             <button class="btn">ㅡ</button>
                    <button class="delete p-1"><i class="fa-solid fa-arrow-right rotate-180"></i></button>
          </div>

         </div>


          <div class="[&>button]:text-2xl flex gap-4">
           <button class="translate p-2">한/영</button>
           <button class="space px-24 py-2">Space</button>
         </div>
          </div>



      </div>

     <!-- 가상 키보드 종료-->

    <footer class="footer bg-[#EFEFEF] flex items-center justify-between flex-shrink-0 p-4 border-t max-h-14">
      <div>BEANSTALK &copy; 2024</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    <script src="js/home/login.js" defer></script>
</body>
</html>